<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bobo.hello_spboot.dao.mapper.PlayerMapper">

    <select id="listPlayer" resultType="player">
        select id, username, email, password from player
    </select>

    <select id="getPlayerById" parameterType="int" resultType="player">
        select id, username, email, password from player where id = #{id}
    </select>

    <select id="getPlayerByUserName" parameterType="string" resultType="player">
        select id, username, email, password from player where username = #{username}
    </select>

    <insert id="savePlayer" parameterType="player" keyColumn="id" useGeneratedKeys="true">
        insert into player(username, email, password) values(#{username}, #{email}, #{password})
    </insert>


</mapper>